@charset "utf-8";
/*메인페이지 css*/

/*초기화*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

footer{
    font-size: 10px;
}

/*스크롤바 안보이게*/
body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none; }

/*공통 적용사안*/
ul, li {
    list-style: none;
}

/*--------------------------페이지 하단--------------------------*/
footer {
    background-color: #303030;
    width: 100%;
    height: 200px;
}
.f-div{
    text-align: center;
    padding: 60px 0;
}
.f-div a{
    font-size: 2em;
    color: #71726e;
    display: block;
}

/*초기화*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    font-size: 10px;
}
footer{
    font-size: 10px;
}
/*스크롤바 안보이게*/
body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none; }

/*공통 적용사안*/
ul, li {
    list-style: none;
}

.folder {
    width: 100%;
}

/*------------------------ 페이지 상단------------------------*/
/*페이지 상단 적용*/

.p-header {
    display: flex;
    width: 100%;
    background-color: #303030;
}

#header-m{
    margin-top: 0;
}

/*로고 사진*/

.page-logo {
    margin:auto 10px;
    padding: 0  0  0 8% ;
}


/*메뉴바*/
/*menu*/
.gnb{
    position: relative;
    width: 60%;
    margin-left: 5em;
}

/*메뉴바 menu의 li*/
ul.menu{
    display: flex;
    flex-wrap: nowrap;
    line-height: 100px;
    justify-content: space-evenly;
}

.menu li {
    position: relative;
    text-align: center;
    height: 100px;
}

.menu li>a {
    font-size: 2em;
    color: #D4EF63;
    font-weight: bold;
}

.menu li:hover{
    text-decoration: none;
}

/*메뉴바 효과*/
.menu li::after {
    position: absolute;
    background: none repeat scroll 0 0 transparent;
    background: #D4EF63;
    bottom: 0;
    content: "";
    display: block;
    height: 3%;
    left: 50%;
    transition: width .3s ease 0s, left .3s ease 0s;
    width: 0;
}

.menu li:hover::after {
    left: 0;
    width: 100%;
}


/*메뉴바 user icon 내용 적용*/
.util {
    display: inline-block;
    margin: 13px 100px 0 20px;
}

@media screen and (max-width:950px){
    .menu li{
        display: inline-block;
        width: 20px;
    }
}

/*--------------------------페이지 하단--------------------------*/
footer {
    background-color: #303030;
    width: 100%;
    height: 200px;
}
.f-div{
    text-align: center;
    padding: 60px 0;
}
.f-div a{
    font-size: 2em;
    color: #71726e;
    display: block;
}